:root{
    --main-color:#0b5ed7;
    --light-grey:#bebcbb;
}

a{
    text-decoration: none;
    color: black;
}

.bg_light_grey{
    background-color: #bebcbb;
}

.bg_lighter_grey{
    background-color: #eee;
}

.ms_bg_main{
    background-color: var(--main-color);
}

.ms_darkb_bg{
    background-color: #161c3b;
}

.hover_main:hover{
    color: var(--main-color);
}

.sony_logo{
    height: 20px;
    margin-right: 20px;
}

.ms_border{
    border-radius: 20px;
}

.ms_logo_section{
    width: 250px;
}

.ms_s_logo{
    width: 150px;
}

.nav_ps_img{
    width: 50px;
}

form li{
    list-style: none;
    padding: 10px;
}

.top_header{
    text-align: right;
    padding: 10px 0;
    background-color: black;
}

.jumbo_section{
    height: 45rem;
    margin-top: 120px;
    background-image:url(./img/jumbo-bg.png);
    background-position:center;
    background-size: cover;

}

.jumbo_content_container{
    padding-top: 400px;
}

.it_takes_two{
    height: 40rem;
    background-image:url(./img/it-takes-two-hero-banner-desktop.jpg);
    background-position:center;
    background-size: cover;
}


.ms_bb_hover:hover{
    box-shadow: 0 2px 0 0px var(--main-color);
}

footer ul li{
    list-style: none;
    padding: 2px 0;
}

footer ul li a{
    color: white;
}

.pre_hover_img{
    opacity: 0.6;
}

.pre_hover_img:hover{
    opacity: 1;
}

.social{
    padding:50px 0 100px 0;
}

.ms_up{
    transition: 0.4s;
}

.ms_up:hover{
    margin-top: -10px;
}

.ms_bd_main{
    box-shadow: 0 0 0px 2px var(--main-color);
}



/* BUTTON BORDERS */

.my-border{
    box-shadow: 0 0 0px 2px unset;
}

.my_border_black:hover{
    box-shadow: 0 0 0px 2px black;
}

.my_border_red:hover{
    box-shadow: 0 0 0px 2px red; ;
}

.my_border_white:hover{
    box-shadow: 0 0 0px 2px white ;
}


ul{
    list-style:none;
}

ul li{
    display: inline-block;
    height: 100%;
    padding: 10px;
    font-size:1rem;
}



.ms-dropdown-content{
        display: none;   
        position: absolute;
        width: 100%;
        top: 60px;
        left: 0;
        z-index: 1;
    }

.drop_width{
    max-width: 450px;
}

@media all and (max-width:992px) {
    .ms-dropdown-content{
        position: static;
        top: 0;
    }
}
.ms-dropdown:hover .ms-dropdown-content{
    display: block
  } 
